<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuget.xsd">
  <package id="HandyControl" version="3.4.0" targetFramework="net472" />
  <package id="CommunityToolkit.Mvvm" version="8.2.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.9.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.1.4" targetFramework="net472" />
</packages>
